{% extends 'cinemafilmBundle::layout.html.twig' %}
    {% block title %}Liste des realisateurs{% endblock %}

    {% block body %}


        <h2>Liste des realisateurs</h2>

        <br />
        {% for personne in realisateurs %}
            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        <strong>{{personne.prenom}} {{personne.nom}}</strong>
                        <span>



                            </span><br />
                        <br />
                        <p></p>
                        <hr />
                        <div class="text-right">
                            <a href="{{ path('page_realisateur', {'id': personne.id}) }}" class="btn btn-success">Voir ses films</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    {% endblock %}

