

{% extends 'cinemafilmBundle::layout.html.twig' %}

{% block body %}

    <br />
    <br><br><br>

    {% for film in films %}
        <div class="thumbnail">
            <div class="caption-full">
                <h4 class="pull-right"></h4>


                <h4>{{ film.titre}}</h4>
                <p>{{ film.synopsis }}</p>
            </div>
            <div class="ratings">
                <p>Réalisé par {{ film.realisateur}}</p>
                <p>genre : {{ film.genre}}</p>

            </div>


        </div> {% endfor %}
{% endblock %}